.gradle/
.gradle-user-home/
build/
run/
out/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
libs/*.jar
libs/*.jar.sha1
libs/*.parts/
docs/
tools/range-test.*
tools/modrinth-create-versions.json
src/generated/resources/
